<html>
<head>
    <style>
        .rootContainer {
            display: flex;
            flex-direction: column;
        }

        .marginTop {
            margin-top: 10px;
        }

        .flagURL {
            margin-top: 10px;
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
<div class="rootContainer">
    <section>
        <div>
            <span>Flag: {{ flag.name }}</span>
            <div class="marginTop">
                <span>Type: {{ flag.type }}</span>
            </div>
        </div>
        {% if flag.description %}
        <div class="marginTop">
            <span>Description: {{ flag.description }}</span>
        </div>
        {% endif %}
        {% if flag.default_value %}
        <div class="marginTop">
            <span>Default value: {{ flag.default_value }}</span>
        </div>
        {% endif %}
        <div class="flagURL">
            <a href="{{ flag.url }}">Open in Flagship Platform</a>
        </div>
    </section>
</div>
</body>
</html>